@import '~office-ui-fabric-react/dist/sass/References.scss';
.indicador {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

.indicador_item1 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	flex: 0 1 100px;
  border-radius: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0.5em;
	padding: 1em 1.5em;
	text-align: left;
	color: #fff;
	background: #262c37;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: border-radius 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.indicador_item2 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	flex: 0 1 100px;
  border-radius: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0.5em;
	padding: 1em 1.5em;
	text-align: left;
	color: #fff;
	background: #262c37;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: border-radius 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.indicador_item3{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	flex: 0 1 100px;
  border-radius: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0.5em;
	padding: 1em 1.5em;
	text-align: left;
	color: #fff;
	background: #262c37;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: border-radius 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.indicador_item1:hover {
	border-radius: 30px;
	transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.indicador_item2:hover {
	border-radius: 30px;
	transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.indicador_item3:hover {
	border-radius: 30px;
	transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.indicador_title1 {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.15em;
	color: #E25A77;
	transition: font-size 0.3s ease;
}
.indicador_title2 {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.15em;
	color: #E25ABC;
	transition: font-size 0.3s ease;
}
.indicador_title3 {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.15em;
	color: #7E5AE2;
	transition: font-size 0.3s ease;
}

.indicador_item1:hover .indicador_title1 {
	font-size: 2.5em;
}
.indicador_item2:hover .indicador_title2 {
	font-size: 2.5em;
}
.indicador_item3:hover .indicador_title3 {
	font-size: 2.5em;
}

.indicador__value {
  font-size: 4em;
  font-weight: 300;
  padding: 0.3em 0;
	transition: font-size 0.3s ease, text-shadow 0.3s ease;
}

.indicador_item1:hover .indicador__value {
	font-size: 4.5em;
	text-shadow: 2px 2px 4px rgba(226, 90, 119, 1);
}
.indicador_item2:hover .indicador__value {
	font-size: 4.5em;
	text-shadow: 2px 2px 4px rgba(226, 90, 188, 1);
}
.indicador_item3:hover .indicador__value {
	font-size: 4.5em;
	text-shadow: 2px 2px 4px rgba(126, 90, 226, 1);
}

.indicador__description {
	padding: 0 0 0.5em;
	margin: 0;
	color: #535965;
	transition: color 0.3s ease;
}

.indicador_item1:hover .indicador__description {
	color: #CBCDD0;
}
.indicador_item2:hover .indicador__description {
	color: #CBCDD0;
}
.indicador_item3:hover .indicador__description {
	color: #CBCDD0;
}

